<ion-row>
  <ion-col size="6">
    <ion-card class="ion-padding">
      <ion-title class="ion-no-padding" color="dark">
      <div class="ion-text-wrap">
        List years with multiple winners
      </div>
      </ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="gray-color">
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Year
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Win Count
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <div *ngIf="yearsWithMultipleWinners.length">
          <ion-row *ngFor="let item of yearsWithMultipleWinners" class="value_lines">
            <ion-col class="custom-padding">
              {{item.year}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.winnerCount}}
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="!yearsWithMultipleWinners.length">
          <ion-row *ngFor="let item of [0, 1, 2]" class="value_lines">
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card class="ion-padding">
      <ion-title class="ion-no-padding" color="dark">
      <div class="ion-text-wrap">
        Top 3 studios with winners
      </div>
      </ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="gray-color">
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Name
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Win Count
            </ion-card-subtitle>
          </ion-col>
        </ion-row>

        <div *ngIf="studiosWithWinners.length">
          <ion-row *ngFor="let item of studiosWithWinners" class="value_lines">
            <ion-col class="custom-padding">
              {{item.name}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.winCount}}
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="!studiosWithWinners.length">
          <ion-row *ngFor="let item of [0, 1, 2]" class="value_lines">
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card class="ion-padding">
      <ion-title class="ion-no-padding ion-padding-bottom" color="dark">
      <div class="ion-text-wrap">
        Producers with longest and shortest interval between wins
      </div>
      </ion-title>

      <ion-title class="ion-no-padding" color="dark">
      <div class="ion-text-wrap">
        Maximum
      </div>
      </ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="gray-color">
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Producer
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Interval
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Previous Year
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Following Year
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <div *ngIf="intervalProducers?.max?.length">
          <ion-row *ngFor="let item of intervalProducers?.max" class="value_lines">
            <ion-col class="custom-padding">
              {{item.producer}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.interval}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.previousWin}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.followingWin}}
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="!intervalProducers?.max?.length">
          <ion-row *ngFor="let item of [0]" class="value_lines">
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

      <ion-title class="ion-no-padding ion-padding-top" color="dark">
      <div class="ion-text-wrap">
        Minimum
      </div>
      </ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row class="gray-color">
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Producer
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Interval
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Previous Year
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Following Year
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <div *ngIf="intervalProducers?.min?.length">
          <ion-row *ngFor="let item of intervalProducers?.max" class="value_lines">
            <ion-col class="custom-padding">
              {{item.producer}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.interval}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.previousWin}}
            </ion-col>
            <ion-col class="custom-padding">
              {{item.followingWin}}
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="!intervalProducers?.min?.length">
          <ion-row *ngFor="let item of [0]" class="value_lines">
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card class="ion-padding">
      <ion-title class="ion-no-padding" color="dark">
      <div class="ion-text-wrap">
        List movie winners by year
      </div>
      </ion-title>
      <ion-row>
        <ion-col size="11">
          <ion-searchbar (ionChange)="selectYearChanging($event)" mode="ios"
            placeholder="Search by year"></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-button size="small" class="button-search" (click)="searchByYear()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-grid class="ion-no-padding">
        <ion-row class="gray-color">
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Id
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Year
            </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <ion-card-subtitle class="custom-padding" color="dark">
              Title
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of winnersByYear" class="value_lines">
          <ion-col class="custom-padding">
            {{item.id}}
          </ion-col>
          <ion-col class="custom-padding">
            {{item.year}}
          </ion-col>
          <ion-col class="custom-padding">
            {{item.title}}
          </ion-col>
        </ion-row>
        <div *ngIf="!winnersByYear.length && searchClicked">
          <ion-row *ngFor="let item of [0, 1]" class="value_lines">
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
            <ion-col class="custom-padding">
              <skeleton></skeleton>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ion-card>
  </ion-col>
</ion-row>